.card-inner{
    display: none;
}
.text-block{
    position: relative;
}
.four-reactions{
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
time {
    color: #fff ;
    background-color: #000 ;
    position: absolute ;
    top: 54px;
    left: 7px;
    padding: 0px 3px;
}
.form-control{
    box-shadow: none;
}
.public-comments .row .btn {
    background-color:  #bf40bf !important;
    border-color: #bf40bf;
}
.public-comments .row .btn:hover{
    background-color:  #e4a4e4 !important;
    border-color: #e4a4e4;
}
@media(max-width:767px){
    .text-block{
        height: 100px;
    }
  

}